<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedResidents()" [disabled]="!selectedResidents || !selectedResidents.length" />
    </ng-template>

    <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="residents()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedResidents"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} residentes"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Residentes</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="nombre">
                Nombre
                <p-sortIcon field="nombre" />
            </th>
            <th pSortableColumn="email">
                Email
                <p-sortIcon field="email" />
            </th>
            <th pSortableColumn="telefono">
                Telefono
                <p-sortIcon field="telefono" />
            </th>
            <th pSortableColumn="tipo">
                Tipo
                <p-sortIcon field="tipo" />
            </th>
            <th pSortableColumn="estado">
                Estado
                <p-sortIcon field="estado" />
            </th>
            <th pSortableColumn="fechaRegistro">
                Fecha Registro
                <p-sortIcon field="fechaRegistro" />
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-resident>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="resident" />
            </td>
            <td>{{ resident.nombre }}</td>
            <td>{{ resident.email }}</td>
            <td>{{ resident.telefono }}</td>
            <td>{{ resident.tipo }}</td>
            <td>{{ resident.estado }}</td>
            <td>{{ resident.fechaRegistro }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editResident(resident)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteResident(resident)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="residentDialog" [style]="{ width: '450px' }" header="Detalles del Residente" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="nombre" class="block font-bold mb-3">Nombre</label>
                <input type="text" pInputText id="nombre" [(ngModel)]="resident.nombre" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !resident.nombre">El nombre es requerido.</small>
            </div>
            <div>
                <label for="email" class="block font-bold mb-3">Email</label>
                <input type="email" pInputText id="email" [(ngModel)]="resident.email" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !resident.email">El email es requerido.</small>
            </div>
            <div>
                <label for="telefono" class="block font-bold mb-3">Telefono</label>
                <input type="number" pInputText id="telefono" [(ngModel)]="resident.telefono" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !resident.telefono">El telefono es requerido.</small>
            </div>
            <div>
                <label for="tipo" class="block font-bold mb-3">Tipo</label>
                <p-select [(ngModel)]="resident.tipo" inputId="tipo" [options]="residentTypes" optionLabel="label" optionValue="label" placeholder="Selectiona un tipo" fluid />
            </div>
            <div>
                <label for="estado" class="block font-bold mb-3">Estado</label>
                <p-select [(ngModel)]="resident.estado" inputId="estado" [options]="residentStates" optionLabel="label" optionValue="label" placeholder="Selecciona un estado" fluid />
            </div>
            <div>
                <label for="fechaRegistro" class="block font-bold mb-3">Fecha Registro</label>
                <p-datepicker [style]="{ width: '100%'}" [(ngModel)]="resident.fechaRegistro" inputId="fechaRegistro" [showIcon]="true" [showButtonBar]="true" ></p-datepicker>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="updateResident()" />
    </ng-template>
</p-dialog>

<p-confirmdialog />